*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 1000px;
  overflow-x: scroll;
}

.container{
  width: 80%;
  margin: auto;
}

#site-header{
  height: 550px;
  background: red;
}

.col-25{
    height: 200px; /* Da eliminare*/
  width: 25%;
  float: left;
}

.col-75{
    height: 200px; /* Da eliminare*/
  width: 75%;
  float: left;
}

.col-30{
    height: 200px; /* Da eliminare*/
  width: 30%;
  float: left;
}

.col-50{
    height: 200px; /* Da eliminare*/
  width: 50%;
  float: left;
}

#services .row .col-30:nth-child(2){
  margin: 0 5%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

#main-section{
  background: blue;
}

#site-footer{
  background: purple;
}

#services *:not(h1){ /* Da eliminare: solo per avere un'idea di dove verranno i blocchi*/
  border: 4px solid black;
  background: green;
}

#community *:not(h1){ /* Da eliminare: solo per avere un'idea di dove verranno i blocchi*/
  border: 4px solid black;
  background:#00aeb3;
}

#testimonials *:not(h1){ /* Da eliminare: solo per avere un'idea di dove verranno i blocchi*/
  border: 4px solid black;
  background:#808080;
}

#site-footer *{ /* Da eliminare: solo per avere un'idea di dove verranno i blocchi*/
  border: 4px solid black;
  background: pink;
}
